*, html {box-sizing: border-box; margin:0; padding:0;}

::selection {background: #43a3b2; color:#fff;}

body {font-family: 'Roboto', sans-serif; font-size: 12px; line-height: 20px; color:#000;}
.container {max-width: 1300px; width: 100%; margin: 0 auto; position: relative;}
.flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.items-center {align-items: center;}
.content-center {justify-content: center;}
.content-between {justify-content: space-between;}

h1, h2, h3, h4, h5, h6 {color:#000; margin-bottom:50px; font-family: 'Roboto Slab', serif; position: relative;}
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {content:''; position: absolute; bottom: -10px; border-bottom: 5px solid #000; width: 50px; left: 0;}

h1 {font-size: 40px; line-height: 50px;}
h2 {font-size: 30px; line-height: 40px;}
h3 {font-size: 20px; line-height: 30px;}
h4 {font-size: 18px; line-height: 24px;}
h5 {font-size: 16px; line-height: 22px;}

img {max-width: 100%; height: auto;}

.image-box {overflow: hidden;}
.bg-cover {background-position: center center; background-repeat: no-repeat; background-size: cover; display: block; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.bg-cover img {width: 100%; height: auto; opacity: 0; visibility: hidden;}
.bg-cover a {display: block; -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.bg-cover a:hover {background: rgb(67, 163, 178,0.8);}
.bg-cover:hover {transform: scale(1.1);}

section {padding: 50px 0;}

header {border-top: 12px solid rgb(0, 0, 0); }
.logo {max-width: 400px; padding:40px 0 55px;}


.nav-container {border-top: 1px solid rgb(242, 242, 242); border-bottom: 1px solid rgb(202, 204, 206);}
nav {display: flex; list-style-type: none; margin: 0; padding: 0;}
nav > li {padding:15px 20px;}
nav > li:first-child {padding-left: 0;}
nav > li a {font-size: 14px; text-transform: uppercase; line-height: 20px; font-weight: 700; color: #2d2e2f; text-decoration: none;}
nav > li a:hover {color: #43a3b2;}

.sub-menu {display: none; list-style-type: none; position: absolute; z-index: 1; background: #fff; box-shadow: 0 0 25px rgba(0,0,0,0.1); top: 100%; min-width: 200px;}
nav li:hover .sub-menu {display: block;}
nav li:hover .sub-menu li {border-bottom: 1px solid #ededed;}
nav li:hover .sub-menu li:last-child {border-bottom:0;}
nav li:hover .sub-menu li a {padding: 10px 20px; display: block;}
nav li:hover .sub-menu li a:hover {color:#fff; background: #43a3b2;}

.header-overlay .overlay-close {width: 50px;height: 50px;background: #43a3b2; display: block;position: fixed;right: 20px;top: 20px;border-radius: 50%;color: #fff;text-align: center;padding: 15px;font-weight: 600;font-size: 24px; cursor: pointer;}
.header-overlay .overlay-close:hover {background: #fff; color: #43a3b2;}

.header-overlay {background: rgba(0,0,0,0.8);position: fixed;z-index: 1; top: 0; bottom: 0; left: 0;right: 0; padding-top: 100px; padding-bottom: 100px;}
.header-overlay .container {max-width: 1240px;}
.header-overlay .main-category ul {list-style-type:none;}
.header-overlay .main-category ul li {margin-bottom:5px;}
.header-overlay .main-category ul li a {font-size: 24px; color:#fff; font-family: 'Roboto Slab', serif; text-decoration:none; line-height: 44px;}
.header-overlay .main-category ul li a:hover {color:#43a3b2;}

.header-overlay .sub-category ul {list-style-type:none;}
.header-overlay .sub-category ul li {margin-bottom:9px;}
.header-overlay .sub-category ul li a {font-size: 16px; color:#fff; text-decoration:none; line-height: 24px;}
.header-overlay .sub-category ul li a:hover {color:#43a3b2;}


.header-overlay .sub-category:last-child {max-width: 400px;}
.header-overlay .sub-category:last-child ul {display: flex; flex-wrap: wrap;}
.header-overlay .sub-category:last-child ul li {width: 50%;}

.header-overlay .overlay-social {width: 100%; margin-top: 40px;}
.header-overlay .overlay-social h3 {color:#fff; font-size: 20px; margin-bottom: 20px;}
.header-overlay .overlay-social ul {display: flex; list-style-type: none;}
.header-overlay .overlay-social ul li { border: 1px solid #fff; border-radius: 50%;width: 51px;height: 51px;text-align: center;margin-right: 10px; padding-top: 12px;}
.header-overlay .overlay-social ul li a {color:#fff; font-size: 24px; display: block;}
.header-overlay .overlay-social ul li:hover {border: 1px solid #43a3b2;}
.header-overlay .overlay-social ul li:hover a {color:#43a3b2;}


.subscribe-btn {padding:16px; border-left: 1px solid rgb(242, 242, 242); height: 100%; position: absolute; top: 0; right: 56px; font-size: 14px;text-transform: uppercase;line-height: 20px;font-weight: 700;color: #2d2e2f;text-decoration: none;}
.subscribe-btn:hover {color:#43a3b2;}

.hamburger-button {height: 100%; width: 56px; border-left: 1px solid #f2f2f2;border-right: 1px solid #f2f2f2; position: absolute;right: 0;top: 0;}
.hamburger-button a {padding: 13px 15px; display: block; color:#2d2e2f;}
.hamburger-button a:hover {background: #43a3b2;}
.hamburger-button a:hover svg {fill:#fff;}

.magazine-item {width: calc(100% - 20px); max-width: 320px; margin-right: 40px;}
.magazine-item:last-child {margin-right: 0;}
.magazine-item .magazine-image {overflow: hidden;}

.category span {text-transform: uppercase;font-size: 10px;margin-right: 5px;background: #2d2e2f;color: #fff;padding: 0px 5px;margin-bottom: 4px;display: inline-block;}
.magazine-content {max-width: calc(100% - 40px);margin: -30px auto;background: #fff;padding: 20px;box-shadow: 0 0 25px rgba(0,0,0,0.1); position: relative;}
.magazine-content .category {margin-bottom: 15px;}
.magazine-content h2, .magazine-content h2 a {font-family: 'Roboto Slab', serif; color:#2d2e2f; font-size: 20px; margin-bottom: 15px; line-height: 26px; text-decoration: none;}
.magazine-content h2:after {display:none;}
.magazine-content h2 a:hover {color:#43a3b2;}
.magazine-content .author {position: relative; display: inline-block; padding-top: 10px;color: #adadad;font-size: 11px;text-transform: uppercase;letter-spacing: 1px;}
.magazine-content .author:before {content:''; position: absolute; border-top: 5px solid #43a3b2; width: 30px; top:0; left:0;}

.left-post {max-width: 630px; width: 100%;}
.left-post .magazine-item {max-width: 100%; width: 100%; position: sticky; top: 0;}
.left-post .magazine-content {position: absolute;background: transparent;bottom: 50px;left: 0; right: 0;margin: 0;max-width: 100%;text-align: center;}
.left-post .magazine-content h2, .left-post .magazine-content h2 a {color:#fff; font-size: 50px; line-height: 56px;}


.right-post {max-width: 630px; width: 100%;}
.right-post .magazine-item {max-width: 295px; width: 100%; margin-bottom: 40px; padding-bottom: 30px;}
.right-post .magazine-item {float:left; margin-right: 40px;}
.right-post .magazine-item:nth-child(2) {margin-right: 0;}
.right-post .magazine-item:last-child {margin-bottom: 0;}


.current-section {background: #f2f2f2;}

.current-section .past-issues {max-width: 520px; width: 100%; display: flex; flex-direction: column; justify-content: flex-start;}
.current-section .past-issues .magazine-item {max-width:520px; width: 100%;padding:7px;background:#fff;margin-bottom:11px; min-height: 150px; display: flex; justify-content: flex-start; align-items: center; box-shadow: 0 0 25px rgba(0,0,0,0.1);}
.current-section .past-issues .magazine-item:last-child {margin-bottom: 0;}
.past-issues .magazine-item .magazine-image {max-width: 130px; width: 100%;}
.past-issues .magazine-item .magazine-content {max-width: calc(100% - 150px); background: transparent; box-shadow: none; margin: 0;}
.past-issues .magazine-item .magazine-content h2, .magazine-content h2 a {font-size: 16px;}


.current-section .current-issues {max-width: 740px;}
.current-section .current-issues {max-width: 740px; width: 100%; }
.current-section .current-issues .magazine-item { width: 100%;max-width: 100%;}
.current-issues .magazine-content {text-align: center; margin:0; max-width: 100%;}


.footer {background: #212121 url(../images/foo-logo.png) center 14% no-repeat; background-size: 30% auto; padding-top: 140px;}
.footer ul {list-style-type: none; display: flex; justify-content: center;}
.footer ul li {margin: 0; padding:5px 10px;}
.footer ul li a {color: #a0a0a0; text-decoration: none; font-size: 14px;}
.footer ul li a:hover {color: #43a3b2;}

.footer .copyright {display: flex; justify-content: center; color:#a0a0a0; border-bottom: 1px solid #404040; padding-bottom: 20px;}
.footer .copyright p {text-align: center;}
.footer .copyright p span {display: block;}
.footer .copyright a {color:#a0a0a0; }
.footer .copyright a:hover {text-decoration: none;}

.foo-bottom {display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}
.foo-bottom .overlay-social li {border: 1px solid #a0a0a0; border-radius: 50%; width: 51px;height: 51px;text-align: center;margin-right: 10px; padding-top: 12px;}
.foo-bottom .overlay-social li a {display: block; font-size:24px; }
.foo-bottom .overlay-social li:hover {border: 1px solid #43a3b2;}

.foo-bottom .app-logos a:first-child {margin-right: 15px;}