@media only screen and (max-width: 1320px) {
    .container {max-width:1140px;}
    .magazine-item {margin-right: 20px;}
    .magazine-content {max-width: calc(100% - 20px);}
    
    .left-post {max-width: 560px;}
    .right-post {max-width: 560px;}
    .right-post .magazine-item {max-width: 260px;}
    
    .current-section .past-issues {max-width: 400px;}
    .current-section .current-issues {max-width: 720px;}
    
    .past-issues .magazine-item .magazine-content {padding: 12px;}
}


@media only screen and (max-width: 1170px) {
    .container {max-width:970px;}
    
    .header-add {max-width: 500px;}
    nav > li {padding: 15px 10px;}
    
    h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {bottom: -20px;}
    
    h1 {font-size: 30px; line-height: 40px;}
    h2 {font-size: 24px; line-height: 30px;}
    h3 {font-size: 22px; line-height: 24px;}
    h4 {font-size: 18px; line-height: 22px;}
    h5 {font-size: 16px; line-height: 20px;}
    
    
    .header-overlay .container {max-width: 970px;}
    
    .popular {flex-wrap: wrap;}
    .popular .magazine-item { width: calc(100% - 50px); max-width: 460px; margin-right: 50px; padding-bottom: 30px; margin-bottom: 50px;}
    .popular .magazine-item:nth-child(2n) {margin-right: 0;}
    .popular .magazine-item:nth-child(3), .popular .magazine-item:nth-child(4) {margin-bottom: 0;}
    
    .left-post {max-width: 620px;}
    .right-post .magazine-item, .right-post .magazine-item:nth-child(2) {margin-right: 0;}
    .right-post, .right-post .magazine-item {max-width: 300px;}
    
    .current-section .past-issues {max-width: 300px;}
    .current-section .current-issues {max-width: 620px;}
    .current-section .current-issues .magazine-item {position: sticky; top: 0;}
    
    .current-section .past-issues .magazine-item {flex-direction: column;}
    .past-issues .magazine-item .magazine-image {max-width: 100%;}
    .past-issues .magazine-item .magazine-content {max-width: 100%;}
    
    .foo-bottom .overlay-social li {width: 41px;height: 41px; padding-top: 4px;}
    .foo-bottom .app-logos a {max-width: 120px;width: 100%;display: inline-block;}
    
    
}

@media only screen and (max-width: 991px) {
    
    .container {max-width:720px;}
    section {padding: 30px 0;}
    
    h1 {font-size: 26px; line-height: 40px;}
    h2 {font-size: 22px; line-height: 30px;}
    h3 {font-size: 20px; line-height: 24px;}
    
    .header-overlay .container {max-width: 720px;}
    .header-overlay .main-category ul li a {font-size: 20px;}
    .header-overlay .sub-category:last-child {max-width: 320px;}
    .header-overlay .sub-category ul li a {font-size:14px; }
    
    .logo {padding: 20px 0 25px;}
    .header-add {padding-bottom: 30px;}
    header .flex.items-center {flex-direction: column;}
    
    nav > li {padding: 15px 8px;}
    nav > li a {font-size: 12px;}
    
    .subscribe-btn {font-size: 12px; padding: 16px 10px;}
    .hamburger-button {width: 46px;}
    .hamburger-button a {padding: 13px 10px;}
    
    .popular .magazine-item {max-width: 335px;}
    
    .left-post {max-width: 435px;}
    .left-post .magazine-content h2, .left-post .magazine-content h2 a { font-size: 30px; line-height: 36px;}
    .right-post, .right-post .magazine-item {max-width: 235px;}
    
    .current-section .current-issues {max-width: 435px;}
    .current-section .past-issues {max-width: 235px;}
    
    .footer {background: #1b1b1b url(../images/foo-logo.png) center 2% no-repeat; padding-top: 85px;}
    .footer ul {flex-wrap: wrap; padding: 0 70px;}
    
    .foo-bottom {flex-wrap: wrap; flex-direction: column;}
    .foo-bottom .overlay-social {margin-bottom: 20px;}
    .foo-bottom .copyscape {margin-bottom: 20px;}

}

@media only screen and (max-width: 767px) {
    .container {max-width:100%;}
    
    h1, h2, h3, h4, h5, h6 {text-align: center;}
    h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {left: 0; right: 0; margin: 0 auto;}
    
    .logo {max-width: 280px;}
    .header-add {max-width: 240px;}
    
    .nav-container {min-height: 50px;}
    .nav-container nav {display:none;}
    
    .subscribe-btn {right: auto; border-left: 0;}
    
    h1 {text-align: center;}
    
    .popular .magazine-item, .right-post, .right-post .magazine-item, .current-section .past-issues, .current-section .current-issues {max-width: 310px; margin: 0 auto 40px;}
    .popular .magazine-item:nth-child(2n) {margin: 0 auto 40px;}
    
    .left-post {max-width: 310px; margin: 0 auto 40px;}
    .category-posts .flex.content-between {flex-direction: column;}
    
    .current-section .flex.content-between {flex-direction: column-reverse;}
    
    .footer .foo-links {margin-bottom: 15px;}
    .footer ul {padding: 0 30px; margin-bottom: 0;}
    .footer ul li {padding: 3px 10px;}

    .foo-bottom .overlay-social li {width: 31px; height: 31px; padding-top: 5px;}
    .foo-bottom .overlay-social li a {font-size: 12px;}
    
    .foo-bottom .copyscape {margin-bottom: 24px;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}