<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Tunis Sports City`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Tunis Sports City`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `1`...</div>
<div class="progress-msg"><b>CREATING</b> `Tunis Sports City` `Post`</div>
<div class="progress-msg">Associate post `Tunis Sports City` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `https://www.industryleadersmagazine.com/wp-content/uploads/Abu_Dhabi_Skyline-Bechetal.jpg` for `Tunis Sports City` ...</div>
<div class="progress-msg">- <b>WARNING</b>: Image Abu_Dhabi_Skyline-Bechetal.jpg not found in media gallery.</div>
<div class="progress-msg">- Downloading image from `https://www.industryleadersmagazine.com/wp-content/uploads/Abu_Dhabi_Skyline-Bechetal.jpg`</div>
<div class="progress-msg">- Image `https://www.industryleadersmagazine.com/wp-content/uploads/Abu_Dhabi_Skyline-Bechetal.jpg` has been successfully downloaded</div>
<div class="progress-msg">- Creating an attachment for image `http://192.168.1.55/industry_leaders_magazine/newsite/wp-content/uploads/2020/03/Abu_Dhabi_Skyline-Bechetal.jpg`</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully created for image `http://192.168.1.55/industry_leaders_magazine/newsite/wp-content/uploads/2020/03/Abu_Dhabi_Skyline-Bechetal.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `category` ...</div>
<div class="progress-msg">- Attempted to create parent Post category `NEWS`, duplicate detected. Importing Post to existing `News` category, ID 4, slug `news` ...</div>
<div class="progress-msg">- Creating parent Post category `Professional Services` ...</div>
<div class="progress-msg">- Importing taxonomy `post_tag` ...</div>
<div class="progress-msg">- Creating parent Post post_tag `Sports City` ...</div>
<div class="progress-msg">- Creating parent Post post_tag `Tunis Sports City` ...</div>
<div class="progress-msg"><b>CREATED</b> `Tunis Sports City` `Post` (ID: 104)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
